html{
    overflow: auto ;
}

body{
    .grid{
        display: grid ;
        grid-template-columns: 55% 35% ;
        grid-template-rows: auto auto auto auto; 
        row-gap: 10% ;
        column-gap: 2% ;
        margin-right: 2.5% ;
        margin-left: 2.5% ;
        justify-items: center ;
        }
    }
.headgrid{
        display: grid ;
        grid-template-columns: auto  auto  auto ;
        grid-template-rows: auto; 

        }
header{
        text-align: center ;
        justify-content: center ;
        nav{
            padding: 8% ;
            .buttonHead{
                        border: solid ;
                        border-width: 4.5px ;
                        padding: 4px ;
                        border-color: green;
                        }
            }
        }
        h1{
            color: rgb(235, 36, 36) ;
        }


.leftHead{
            grid-column: 1 ;
            grid-row: 1 ;
        }
.middleHead{
            grid-column: 2 ;
            grid-row: 1 ;
            width: 10% ;
        }
.rightHead{
            grid-column: 3 ;
            grid-row: 1 ;
        }
.topLeft{
        grid-column: 1;
        grid-row: 1 ;
        width: 60% ; 
        }
.topRight{
    grid-column: 2;
    grid-row: 1 ;
    width: 33% ;
}

.secondLeft{
    grid-column: 1;
    grid-row: 2 ;
    width: 20% ;
}

.secondRight{
    grid-column: 2;
    grid-row: 2 ;
}

.middleLeft{
    grid-column: 1;
    grid-row: 3 ;
    width: 40% ;
}

.middleRight{
    grid-column: 2 ;
    grid-row: 3 ;
    width: 60% ;
}

.bottomLeft{
    grid-column: 1;
    grid-row: 4 ;
    width: 25% ;
}

.bottomRight{
    grid-column: 2;
    grid-row: 4 ;
}




.bottomBold{
            display: flex ;
            text-align: center ;
            justify-content: center ;
            font-size: 1.5em ;
            color: rgb(252, 237, 0) ;
            margin-top: 25% ;
            margin-left: auto ;
            margin-right: auto ;
            padding: 1.5% ;
            width: 75% ;
            text-shadow: 1.33px 1.33px 1.5px rgb(75, 137, 245) ;
            background-color: rgb(68, 69, 69) ;
        }


footer{
    background-color: black ;
    color: white ;
    float: bottom ;
    margin-top: 4% ;
    text-align: center ;
}





a{
        text-decoration: none ;
        font-style: none ;
    }

ul{
    display: inline-flex ;
    flex-direction: row ;
    list-style-type: none;
    li a:link {color: black ;}
    li a:visited {color: rgb(16, 128, 21) ; }
    li a:hover{color: rgb(235, 36, 36) ;}
    li{
        .button{
        border: solid ;
        border-width: 4.5px ;
        padding: 2% ; ;
        border-color: rgb(16, 128, 21);
}
    }
}




.column{
    display: inline-flex ;
    flex-direction: column ;
    margin: auto ;
    text-align: center ;
    justify-content: center ;
    float: center ;
    }
