html{
    overflow: auto ;
}


.headGrid{
            display: grid ;
            grid-template-columns: auto  auto  auto ;
            grid-template-rows: auto; 
    
    }



header{
        margin-bottom: 2% ;
        max-height: 400px ;
        h1{        
            color: rgb(235, 36, 36) ;
        }

        nav{    
            display: inline-flex;
            flex-direction: row ;
            .buttonHead{
                                border: solid ;
                                border-width: 5px ;
                                border-color: rgb(16, 128, 21) ;
                                box-sizing: border-box ; 
                                padding: 5px ;
                                width: 175px ;
                                height: 25px ;
    
                    
                }

            }
            ul{     padding:12.5px;
                    li a:link {color: black ;}
                    li a:visited {color: rgb(16, 128, 21) ; }
                    li a:hover {color: rgb(235, 36, 36) ;}
                    list-style-type: none;
                   li{
                       padding: 12.5px;
                }
        }
    .leftHead{
                grid-column: 1 ;
                grid-row: 1 ;
                margin: auto ;
                }
    .middleHead{
                grid-column: 2 ;
                grid-row: 1 ;
                margin: auto ;
                }
    .rightHead{
                display: inline-flex !important ;
                flex-direction: row !important ;
                margin: auto ;
                grid-column: 3 ;
                grid-row: 1 ;
                }
    img{
        width: 15% ;
    }
}
body{       

    
    
main{
    min-height: 800px ; 
    .left{
                    display: inline-flex;
                    flex-direction: column ;
                    float: left !important ;
                    width: 40% ;
                    padding: 5px ;
                }
        .right{
                display: inline-flex;
                flex-direction: column ;
                float: right !important ;
                width: 40% ;
                padding: 5px ;
    }
    .largeImagetop{
        padding: 15px ;
        float: right !important ;
        max-width: 22.5% ;
    }
    
    .largeImage{
        padding: 15px ;
        float: right !important ;
        max-width: 25% ;
    }
    
    .largerImage{ 
        padding: 5px ;
        float: right !important ;
        max-width: 17.5% ;
        }
        p{
            max-width: 300px; 
            }
        nav{    
                display: inline-flex;
                flex-direction: column ;
                .buttonMain{
                    border: solid ;
                    border-width: 6px ;
                    margin-top: 15%  !important;
                    margin-bottom: 15%  !important;
                    border-color: rgb(16, 128, 21) ;
                }
                ul{
                list-style-type: none ;
                li a:link {color: black ; }
                li a:visited {color: rgb(16, 128, 21) ; }
                li a:hover {color: rgb(0, 199, 6) ;}
                li{
                        margin-top: 5% ;
                        margin-bottom: 5% ;
                        font-size: 1.25em ;
                    }
                }}
            .largeText{
                font-size: 2.5em ;
                color: rgb(16, 128, 21) ;
                margin-bottom: 4% ;
                }
            
            .bottomBold{
                text-align: center ;
                font-size: 1.25em ;
                color: rgb(252, 237, 0) ;
                margin-top: 25% ;
                margin-left: auto ;
                margin-right: auto ;
                padding: 2.5% ;
                width: 75% ;
                text-shadow: 1.33px 1.33px 1.5px rgb(75, 137, 245) ;
                background-color: rgb(68, 69, 69) ;
            }

    }


    



a{
        text-decoration: none ;
        font-style: none ;
    }    

    

    



footer{
    word-spacing: 12.5px ;
    background-color: black ;
    color: white ;
    float: bottom ;
    margin-top: 4% ;
    text-align: center     
    
}


.clear{
    clear:clear ;
}
.column{
    display: inline-flex ;
    flex-direction: column ;
    margin: auto ;
    text-align: center ;
    vertical-align: center ;
    }
