html{
    overflow: auto ;
}

header{
        text-align: center ;
        margin-left: auto ;
        margin-right: auto ;
        justify-content: center ;
    
}

h1,h2,h3{
    text-align:  center ;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 2% !important;
    color: rgb(235, 36, 36) ;
}

main{
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
    vertical-align: center ;
    nav{
        width: 33% ;
        display: inline-flexbox ;
        .button{
            border: solid ;
            border-width: 6px ;
            padding: 0.5em ;
            border-color: rgb(16, 128, 21) ;
            text-align: center ;
            justify-self: center ;
            align-self: center ;
        }
        ul{
                display: inline-flex ;
                flex-direction: row ;
                list-style-type: none;
                text-align:  center ;
                li a:link {color: black ;}
                li a:visited {color: rgb(16, 128, 21) ;}
                li a:hover {color: rgb(0, 199, 6) ;}
                li{
                        padding: 10% ;
                        font-size: 1.25em ;
                    }
        }
    }
}



p{
    text-align:  center ;
    max-width: 44% ;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 2%  !important;
}



footer{
    background-color: black ;
    text-align: center ;
    margin-top: 4% ;
    padding: 2px ;
    color: white ;
}



#largeImage{
    width: 25% ; 
}

a{
        text-decoration: none ;
        font-style: none ;
    }








figure{
    margin-top: 4% ;
    margin-bottom: 4% ;
    caption{ 
             margin-top: 5% ;
             text-align: center ;
             font-size: 0.75em ; 
           }
     }

.largeText{
    font-size: 2.5em ;
    color: rgb(16, 128, 21) ;
    }


.column{
    display: inline-flexbox ;
    flex-direction: column ;
    margin: auto ;
    text-align: center ;
    justify-content: center ;
    padding-top: 5% ;
    }
.clear{
    clear: both ;
    }
