html{
    overflow: auto ;
}
h1,h2,h3{
    text-align:  center ;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 2% !important;
    color: red ;
}


main{
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;

    }

header{
        text-align: center ;
        margin-left: auto ;
        margin-right: auto ;
    
}

p{
    text-align:  center ;
    max-width: 44% ;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 2%  !important;
}



footer{
    background-color: black ;
    text-align: center ;
    margin-top: 4% ;
    padding: 2px ;
    color: white ;
}



.largeImage{
    width: 25% ; 
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 4%  !important;
    margin-bottom: 4%  !important;
}

a{
        text-decoration: none ;
        font-style: none ;
    }


nav{
    text-align:  center ;
    margin-left: auto ;
    margin-right: auto ;
    width: 33% ;
    ul{
    display: inline-flex ;
    flex-direction: row ;
    list-style-type: none;
    li a:link {color: black ;}
    li a:visited {color: green ;}
    li a:hover{color: light-green ; }
    li{
        font-size: 1.25em ;
        margin-bottom: 2%  !important;
        margin-left: 1% ; 
        margin-right: 1% ;
        .button{
        border: solid ;
        border-width: 6px ;
        padding: 0.5em ;
        margin-bottom: 2%  !important;
        border-color: green;
        }
    }
}
}

.video{
    margin: auto ;
}
.largeText{
    font-size: 2.5em ;
    color: green ;
    }


.column{
    display: inline-flex ;
    flex-direction: column ;
    margin: auto ;
    text-align: center ;
    align-items: center ;
    padding-top: 5% ;
    }
.clear{
    clear: both ;
    }
